

<%= javascript_tag do %>
  $(document).ready(function() {
  
    $('#calendar').fullCalendar({

      // THIS KEY WON'T WORK IN PRODUCTION!!!
      // To make your own Google API key, follow the directions here:
      // http://fullcalendar.io/docs/google_calendar/
      googleCalendarApiKey: 'AIzaSyBEgUzcWCBGR0OWJ8Up1eJKlJauJDDZPdA',
    
      // US Holidays
      eventSources: [
      ],  
      eventRender: function(event,element)
      {
        if(event.description){
        
          element.find('.fc-title').append("<br/>" + event.description); 
        }
      },
      eventClick: function(event) {
        // opens events in a popup window
        window.open(event.url, 'gcalevent', 'width=700,height=600');
        return false;
      },
      dayClick: function(date,allDay,jsEvent,view){

      $('#calendar').fullCalendar('changeView','agendaDay')

      $('#calendar').fullCalendar('gotoDate',date);
      },

      header: {
        left: 'title',
        center: 'month,agendaWeek,agendaDay',
        right: 'agendaDay prev, next'
      },
        
      
      loading: function(bool) {
        $('#loading').toggle(bool);
      }
      
    });
		<% Calendar.all.each do |calendar| %>
		  $('#<%=calendar.name%>').removeClass('btn btn-default');
		  $('#<%=calendar.name%>').addClass('btn btn-success');
		  $( "span", '#<%=calendar.name%>' ).removeClass('glyphicon glyphicon-unchecked');
		  $( "span", '#<%=calendar.name%>' ).addClass('glyphicon glyphicon-check');

		  if($('#<%=calendar.name%>').val()=='false'){
		  $('#<%=calendar.name%>').val('true');
		  $('#calendar').fullCalendar( 'addEventSource', '<%=calendar.url%>' );
		  }
		  $('#calendar').fullCalendar( 'rerenderEvents' );
		<% end %>	
		$('#selectAll').click(function(){
			<% Calendar.all.each do |calendar| %>
			  $('#<%=calendar.name%>').removeClass('btn btn-default');
			  $('#<%=calendar.name%>').addClass('btn btn-success');
			  $( "span", '#<%=calendar.name%>' ).removeClass('glyphicon glyphicon-unchecked');
			  $( "span", '#<%=calendar.name%>' ).addClass('glyphicon glyphicon-check');

			  if($('#<%=calendar.name%>').val()=='false'){
			  $('#<%=calendar.name%>').val('true');
			  $('#calendar').fullCalendar( 'addEventSource', '<%=calendar.url%>' );
			  }
			  $('#calendar').fullCalendar( 'rerenderEvents' );
			<% end %>			
		});
		$('#clearAll').click(function(){
			<% Calendar.all.each do |calendar| %>
			  $('#<%=calendar.name%>').removeClass('btn btn-success');
			  $('#<%=calendar.name%>').addClass('btn btn-default');
			  $( "span", '#<%=calendar.name%>' ).removeClass('glyphicon glyphicon-check');
			  $( "span", '#<%=calendar.name%>' ).addClass('glyphicon glyphicon-unchecked');

			  if($('#<%=calendar.name%>').val()!='false'){
			  $('#<%=calendar.name%>').val('false');
			  $('#calendar').fullCalendar( 'removeEventSource', '<%=calendar.url%>' );
			  }
			  $('#calendar').fullCalendar( 'rerenderEvents' );
			<% end %>			
		});
	<% Calendar.all.each do |calendar| %>
	$('#<%=calendar.name%>').click(function(){
	  $(this).toggleClass('btn btn-default');
	  $(this).toggleClass('btn btn-success');
	  $( "span", this ).toggleClass('glyphicon glyphicon-unchecked');
	  $( "span", this ).toggleClass('glyphicon glyphicon-check');

	  if($(this).val()=='false'){
	  $(this).val('true');
	  $('#calendar').fullCalendar( 'addEventSource', '<%=calendar.url%>' );
	  }
	  else{
	  $(this).val('false');
	  $('#calendar').fullCalendar( 'removeEventSource', '<%=calendar.url%>' );
	  }
	  $('#calendar').fullCalendar( 'rerenderEvents' );
	});
	<% end %>
});
<% end %>
<div id='loading'>loading...</div>
<div class='container-fluid'>
	<div class="row">
		<div class='col-md-8'>
			<div id='calendar'></div>
		</div>
		<div class='col-md-4'>
			<div class='row'>
				<div class='col-md-12'>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
					  Add a Calendar!
					</button>
				</div>
				<div class='col-md-6'>
					<!-- Button trigger modal -->
					<button type="button" id="selectAll" class="btn btn-primary btn-lg btn-block" value="false">
					  Select All
					</button>
				</div>
				<div class='col-md-6'>
					<!-- Button trigger modal -->
					<button type="button" id="clearAll" class="btn btn-primary btn-lg btn-block" value="false">
					  Clear All
					</button>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-6'>
					<h2> Entertainment </h2>
					<% Calendar.where(typeOf:"Entertainment").each do |calendar| %>
						<button id="<%=calendar.name%>" type="button" class="btn btn-default btn-block" value="false">
					  	<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> 
						<%= calendar.name %>
						</button>
					<% end %>
				</div>
				<div class='col-md-6'>
					<h2> Sports </h2>
					<% Calendar.where(typeOf:"Sports").each do |calendar| %>
						<button id="<%=calendar.name%>" type="button" class="btn btn-default btn-block" value="false">
					  	<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> 
						<%= calendar.name %>
						</button>
					<% end %>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-6'>
					<h2> Food & Drinks </h2>
					<% Calendar.where(typeOf:"Food and Drinks").each do |calendar| %>
						<button id="<%=calendar.name%>" type="button" class="btn btn-default btn-block" value="false">
					  	<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> 
						<%= calendar.name %>
						</button>
					<% end %>
				</div>
				<div class='col-md-6'>
					<h2> Student Orgs </h2>
					<% Calendar.where(typeOf:"School Events/Student Organizations").each do |calendar| %>
						<button id="<%=calendar.name%>" type="button" class="btn btn-default btn-block" value="false">
					  	<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> 
						<%= calendar.name %>
						</button>
					<% end %>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-6'>
					<h2> Others </h2>
					<% Calendar.where(typeOf:"Other").each do |calendar| %>
						<button id="<%=calendar.name%>" type="button" class="btn btn-default btn-block" value="false">
					  	<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> 
						<%= calendar.name %>
						</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Add a Google Calendar!</h1>
      </div>
      <div class="modal-body">
		<%= form_tag visitors_addcalendar_path do %>
			<h2> Name </h2>
			<%= text_field_tag(:name,nil,size: 75) %><br>
			<h2> Type </h2>
		    <%= select_tag :type, options_for_select(types), size:5, style:"width:100%" %><br>
		    <h2> Description </h2>
			<%= text_area_tag(:desc,nil,size:"73x5") %><br>
			<h2> URL </h2>
			<%= text_field_tag(:url,nil,size:75) %><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= submit_tag "Submit!", :class => "submit" %>
		<% end %>
      </div>
    </div>
  </div>
</div>
