

<%= javascript_tag do %>
  $(document).ready(function() {
  
    $('#calendar').fullCalendar({

      // THIS KEY WON'T WORK IN PRODUCTION!!!
      // To make your own Google API key, follow the directions here:
      // http://fullcalendar.io/docs/google_calendar/
      googleCalendarApiKey: 'AIzaSyBEgUzcWCBGR0OWJ8Up1eJKlJauJDDZPdA',
    
      // US Holidays
      eventSources: [
        {
          googleCalendarId: '15jhvu4c2ebsoqhrrngev4r4r064qfnm@import.calendar.google.com'
        },
        {
          googleCalendarId: 'm6vchv9bfri09p7lnqjl596t98@group.calendar.google.com'
        },
        {
          googleCalendarId: 'ke4esds6skqdga2n7e8g3l0tu8@group.calendar.google.com'
        }
      ],  
      eventRender: function(event,element)
      {
        if(event.description){
        
          element.find('.fc-title').append("<br/>" + event.description); 
        }
      },
      eventClick: function(event) {
        // opens events in a popup window
        window.open(event.url, 'gcalevent', 'width=700,height=600');
        return false;
      },
      dayClick: function(date,allDay,jsEvent,view){

      $('#calendar').fullCalendar('changeView','agendaDay')

      $('#calendar').fullCalendar('gotoDate',date);
      },

      header: {
        left: 'title',
        center: 'month,agendaWeek,agendaDay',
        right: 'agendaDay prev, next'
      },
        
      
      loading: function(bool) {
        $('#loading').toggle(bool);
      }
      
    });
    
  });

<% end %>
<%= javascript_tag do %>
	$(document).ready(function(){
	<% Calendar.all.each do |calendar| %>
	$('#<%=calendar.name%>').click(function(){
	  $(this).toggleClass('btn btn-default');
	  $(this).toggleClass('btn btn-success');
	  $( "span", this ).toggleClass('glyphicon glyphicon-unchecked');
	  $( "span", this ).toggleClass('glyphicon glyphicon-check');

	  if($(this).val()=='false'){
	  $(this).val('true');
	  $('#calendar').fullCalendar( 'addEventSource', '<%=calendar.url%>' );
	  }
	  else{
	  $(this).val('false');
	  $('#calendar').fullCalendar( 'removeEventSource', '<%=calendar.url%>' );
	  }
	  $('#calendar').fullCalendar( 'rerenderEvents' );
	});
	<% end %>
});
<% end %>
<div id='loading'>loading...</div>
<div class='container-fluid'>
	<div class="row">
		<div class='col-md-8'>
			<div id='calendar'></div>
		</div>
		<div class='col-md-4'>
			<% Calendar.all.each do |calendar| %>
				<button id="<%=calendar.name%>" type="button" class="btn btn-default" value="false">
			  	<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> 
				What
				</button>
			<% end %>
			<h1> Add a Calendar!</h1>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  Add a Calendar!
			</button>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Add a Google Calendar!</h1>
      </div>
      <div class="modal-body">
		<%= form_tag visitors_addcalendar_path do %>
			<h2> Name </h2>
			<%= text_field_tag(:name,nil,size: 75) %><br>
			<h2> Type </h2>
		    <%= select_tag :type, options_for_select(types), size:10, style:"width:100%" %><br>
		    <h2> Description </h2>
			<%= text_area_tag(:desc,nil,size:"73x5") %><br>
			<h2> URL </h2>
			<%= text_field_tag(:url,nil,size:75) %><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= submit_tag "Submit!", :class => "submit" %>
		<% end %>
      </div>
    </div>
  </div>
</div>
